@import './variables';

/* Generate Spacing Classes */
$spacing-sides: (
  top: t,
  bottom: b,
  left: l,
  right: r,
);
$spacing-sizes: (
  0: '2px',
  1: '4px',
  2: '8px',
  3: '16px',
  4: '24px',
  5: '32px',
  6: '64px',
  20: '20px',
  30: '30px',
  40: '40px',
  50: '50px',
  60: '60px',
  70: '70px',
  80: '80px',
  100: '100px',
  150: '150px',
);

/* Margin: generate my-[0,6] */
@each $szlabel, $szval in $spacing-sizes {
  .my-#{$szlabel} {
    margin-top: #{$szval} !important;
    margin-bottom: #{$szval} !important;
  }

  .mx-#{$szlabel} {
    margin-left: #{$szval} !important;
    margin-right: #{$szval} !important;
  }
}
/* Margin: generate m[l,r,t,b]-[0,6] */
@each $side, $sidelabel in $spacing-sides {
  @each $szlabel, $szval in $spacing-sizes {
    .m#{$sidelabel}-#{$szlabel} {
      margin-#{$side}: #{$szval} !important;
    }
  }
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

/* Padding: generate py-[0,6] */
@each $szlabel, $szval in $spacing-sizes {
  .py-#{$szlabel} {
    padding-top: #{$szval} !important;
    padding-bottom: #{$szval} !important;
  }

  .px-#{$szlabel} {
    padding-left: #{$szval} !important;
    padding-right: #{$szval} !important;
  }
}
/* Padding: generate p[l,r,t,b]-[0,6] */
@each $side, $sidelabel in $spacing-sides {
  @each $szlabel, $szval in $spacing-sizes {
    .p#{$sidelabel}-#{$szlabel} {
      padding-#{$side}: #{$szval} !important;
    }
  }
}

body {
  background-color: $color-primary-darkblue;
  color: $font-color-dark;

  // font-family: 'Source Sans Pro', verdana, sans-serif !important;
  // font-size: 16px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color-dark;
  font-weight: 600;
}

h1 {
  margin: 4px 0 16px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: 4px 0 8px;
}

p {
  & + h1 {
    margin-top: 24px;
  }
  & + h2 {
    margin-top: 16px;
  }

  // & + p {
  //   margin-top: 12px;
  // }
}

strong {
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  // text-align: center;

  &.is-row {
    flex-direction: row;
  }
}

.el-main {
  // h1,
  // h2 {
  //   box-shadow: 0.1em 0.125em #2ed6a1;
  //   display: inline-block;
  //   padding: 2px;
  // }

  &.article {
    .image {
      img {
        width: 100%;
        max-width: 100%;
      }
    }

    .commentary {
      font-size: 0.9em;
    }
  }

  .article--title {
    margin: 0;
    display: block;
    padding: 0;
    border-bottom: 2px solid #e6ecf1;
    padding-bottom: 32px;

    & + p {
      margin-top: 16px;
    }
  }

  h2 {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  p {
    & + p {
      margin-top: 24px;
    }
    & + ul {
      margin-top: 24px;
    }

    a {
      color: currentColor;
      text-decoration-color: $color-primary-turquiose;
      text-decoration: none;
      background-color: transparent;
      // 1st variation
      // box-shadow: 0em 0.125em #2ed6a1;

      // 2nd variation
      box-shadow: #2ed6a1 0em -0.15em 0px inset;
      text-decoration: none;
      border-bottom: 1px solid #2ed6a1;
      transition: box-shadow 0.2s linear 0s;

      &:hover {
        // box-shadow: rgba(32, 211, 64, 0.25) 0px -1em 0px inset;
        // border-bottom: 4px solid rgb(32, 211, 64);
      }
    }
  }

  ul {
    margin-top: 12px;
    margin-bottom: 24px;

    li {
      margin-bottom: 12px;
    }
  }
}

.underline {
  box-shadow: #2ed6a1 0em -0.15em 0px inset;
  text-decoration: none;
  border-bottom: 1px solid #2ed6a1;
  transition: box-shadow 0.2s linear 0s;
}

/* flex */
.m--flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }
}

.text--align-center {
  text-align: center;
}

.text--align-left {
  text-align: left;
}

.text--align-right {
  text-align: right;
}

/* el-alert */
.el-alert {
  padding: 16px 20px;

  &__title {
    font-size: 16px;
    &.is-bold {
      font-weight: 600;
    }
  }

  & &__description {
    font-size: 14px;
  }
}

/* el-button */
.el-button {
  &--primary {
    color: $color-primary-white;
    background-color: $color-primary-blue;
    border-color: $color-primary-blue;

    &.is-plain {
      color: $color-primary-blue;
      background-color: $color-primary-white;
      border-color: $color-primary-blue;

      &:hover {
        background-color: $color-primary-blue;
        border-color: $color-primary-blue;
        color: $color-primary-white;
      }
    }
  }
}

/* el-card */
.el-card {
  margin-bottom: 24px;
}
