$color-primary-blue: #2970ff;
$color-primary-white: #f9fbfc;
$color-primary-turquiose: #2ed6a1;
$color-primary-darkblue: #091440;
$color-secondary-black: #091440;
$color-secondary-lightblue: #70cbff;
$color-secondary-green: #41bf53;
$color-secondary-orange: #ed6d47;

$font-color-dark: $color-primary-darkblue;
$font-color-light: $color-primary-white;

/* Generate Spacing Classes */
$spacing-sides: (
  top: t,
  bottom: b,
  left: l,
  right: r,
);
$spacing-sizes: (
  0: '2px',
  1: '4px',
  2: '8px',
  3: '16px',
  4: '24px',
  5: '32px',
  6: '64px',
);

/* Margin: generate my-[0,6] */
@each $szlabel, $szval in $spacing-sizes {
  .my-#{$szlabel} {
    margin-top: #{$szval} !important;
    margin-bottom: #{$szval} !important;
  }

  .mx-#{$szlabel} {
    margin-left: #{$szval} !important;
    margin-right: #{$szval} !important;
  }
}
/* Margin: generate m[l,r,t,b]-[0,6] */
@each $side, $sidelabel in $spacing-sides {
  @each $szlabel, $szval in $spacing-sizes {
    .m#{$sidelabel}-#{$szlabel} {
      margin-#{$side}: #{$szval} !important;
    }
  }
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

/* Padding: generate py-[0,6] */
@each $szlabel, $szval in $spacing-sizes {
  .py-#{$szlabel} {
    padding-top: #{$szval} !important;
    padding-bottom: #{$szval} !important;
  }

  .px-#{$szlabel} {
    padding-left: #{$szval} !important;
    padding-right: #{$szval} !important;
  }
}
/* Padding: generate p[l,r,t,b]-[0,6] */
@each $side, $sidelabel in $spacing-sides {
  @each $szlabel, $szval in $spacing-sizes {
    .p#{$sidelabel}-#{$szlabel} {
      padding-#{$side}: #{$szval} !important;
    }
  }
}

body {
  background-color: $color-primary-darkblue;
  color: $font-color-dark;

  font-family: 'Source Sans Pro', verdana, sans-serif !important;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color-dark;
  font-weight: 600;
}

h1 {
  margin: 4px 0 16px;
}
h2 {
  margin: 4px 0 8px;
}

p {
  & + h1 {
    margin-top: 24px;
  }
  & + h2 {
    margin-top: 16px;
  }

  & + p {
    margin-top: 12px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  // text-align: center;

  &.is-row {
    flex-direction: row;
  }
}

.el-main {
  p {
    a {
      color: currentColor;
      text-decoration-color: $color-primary-turquiose;
      // Firefox only:
      // text-decoration-thickness: 0.125em;
      // text-underline-offset: 1.5px;
    }
  }
}

/* flex */
.flex {
  display: flex;
  align-items: center;

  .justify-center {
    justify-content: center;
  }
}

.text--align-center {
  text-align: center;
}

.text--align-left {
  text-align: left;
}

.text--align-right {
  text-align: right;
}

/* el-alert */
.el-alert {
  padding: 16px 20px;

  &__title {
    font-size: 16px;
    &.is-bold {
      font-weight: 600;
    }
  }

  & &__description {
    font-size: 14px;
  }
}

/* el-button */
.el-button {
  &--primary {
    color: $color-primary-white;
    background-color: $color-primary-blue;
    border-color: $color-primary-blue;

    &.is-plain {
      color: $color-primary-blue;
      background-color: $color-primary-white;
      border-color: $color-primary-blue;

      &:hover {
        background-color: $color-primary-blue;
        border-color: $color-primary-blue;
        color: $color-primary-white;
      }
    }
  }
}

/* el-card */
.el-card {
  margin-bottom: 24px;
}
