// Fonts
$font-roboto: Roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
  Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
  segoe ui symbol;
$font-source-sans: 'Source Sans Pro';

$color-primary-blue: #2970ff;
$color-primary-white: #f9fbfc;
$color-primary-turquiose: #2ed6a1;
$color-primary-darkblue: #091440;
$color-secondary-black: #091440;
$color-secondary-lightblue: #70cbff;
$color-secondary-green: #41bf53;
$color-secondary-orange: #ed6d47;

$font-color-dark: $color-primary-darkblue;
$font-color-light: $color-primary-white;
